<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/admin/admin_layout">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>

<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Test Type Setup</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6" style="margin: 0 auto;">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Test Request Entry</h3>
                        </div>
                        <form class="form-horizontal" action="#" th:action="@{testrequest}"
                              th:object="${testRequest}" method="POST">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="patName" class="col-sm-3 col-form-label">Patient Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" th:field="*{testRequest.nameOfPatient}" class="form-control" id="patName"
                                               placeholder="Patient Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Date of Birth</label>

                                    <div class="input-group date col-sm-9" id="reservationdate" data-target-input="nearest">
                                        <input type="text" id="dob" th:field="*{testRequest.dateOfBirth}" class="form-control datetimepicker-input" data-target="#reservationdate"/>
                                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="mobileNo" class="col-sm-3 col-form-label">Mobile No</label>
                                    <div class="col-sm-9">
                                        <input type="text"  th:field="*{testRequest.mobileNO}"  class="form-control" id="mobileNo"
                                               placeholder="Mobile Number">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Select Test</label>
                                    <div class="col-sm-9">
                                        <select id="input1" type="text" th:field ="*{test}" class="form-control">
                                            <option value="">choose..</option>
                                            <option th:each="test: ${testlist}"
                                                    th:value="${test.id}"
                                                    th:text="${test.testName}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="fee" class="col-sm-3 col-form-label">Fee</label>
                                    <div class="col-sm-9">
                                        <input th:id="fee" type="text" class="form-control" id="fee" placeholder="Fee in BDT" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button th:id="submitbtn" type="submit" class="btn btn-info" style="float: right;">Add</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-8" style="margin: 5px auto;">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered table-striped">
                                <thead class="thead-dark">
                                <tr>
                                    <th style="width: 10px">#SL</th>
                                    <th>Test Name</th>
                                    <th>Fee</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>X-Ray LS Spine</td>
                                    <td>500 Tk</td>
                                    <td>
                                        <a th:href="www.google.com"
                                           class="btn btn-info btn-sm">
                                            Update
                                        </a>

                                        <a th:href="www.google.com"
                                           class="btn btn-danger btn-sm"
                                           onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Urine C/S-200</td>
                                    <td>1000 Tk</td>
                                    <td>
                                        <a th:href="www.google.com"
                                           class="btn btn-info btn-sm">
                                            Update
                                        </a>

                                        <a th:href="www.google.com"
                                           class="btn btn-danger btn-sm"
                                           onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>pregnancy profile</td>
                                    <td>800 TK</td>
                                    <td>
                                        <a th:href="www.google.com"
                                           class="btn btn-info btn-sm">
                                            Update
                                        </a>

                                        <a th:href="www.google.com"
                                           class="btn btn-danger btn-sm"
                                           onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Abdomen</td>
                                    <td>1600 TK</td>
                                    <td>
                                        <a th:href="www.google.com"
                                           class="btn btn-info btn-sm">
                                            Update
                                        </a>

                                        <a th:href="www.google.com"
                                           class="btn btn-danger btn-sm"
                                           onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix">
                            <div class="form-group row float-right">
                                <label for="total" class="col-form-label">Total</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="total" placeholder="Total in BDT" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info" style="float: right;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>